body{
    background-color: gainsboro;
    margin: 0px;

}
/* @import url('https://fonts.cdnfonts.com/css/tiempos-headline'); */

@font-face {
    font-family: 'Tiempos Headline', sans-serif;
    font-style: normal;
    /* font-weight: 400; */
    src: url("https://fonts.cdnfonts.com/css/tiempos-headline");
  }

p{
    font-size: 20px;
    margin: 5px;
}

#heading{
    position: sticky;
    top: 0;
    background-color: white;
    text-align: center;
    
    padding: 10px;
    z-index: 1;
}

